In [2]:
import pandas as pd
import numpy as np

In [3]:
#import books dataset
books=pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')

C:\Users\user\AppData\Local\Temp\ipykernel_11884\709918315.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books=pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\user\AppData\Local\Temp\ipykernel_11884\709918315.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books=pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [7]:
# feature engineering book dataset
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)
books.head(2)

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada

In [8]:
#import user dataset
users=pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')
users.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_11884\1423097375.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users=pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [9]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [10]:
#import ratings dataset
ratings=pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')
ratings.head(2)

C:\Users\user\AppData\Local\Temp\ipykernel_11884\3993051716.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings=pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [11]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [12]:
#no of books
books.shape

(271360, 5)

In [13]:
#no of users
users.shape

(278858, 3)

In [14]:
#no of ratings
ratings.shape

(1149780, 3)

In [15]:
# limit user count by takling users who gave more than 2000 ratings
x=ratings['user_id'].value_counts()>200
y=x[x].index
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [16]:
ratings=ratings[ratings['user_id'].isin(y)]
ratings.shape

(526356, 3)

In [17]:
# map ratings with books over valid users
ratings_with_books=ratings.merge(books, on='ISBN')
ratings_with_books.shape

(487671, 7)

In [18]:
# compile number of ratings for each book
number_rating=ratings_with_books.groupby('title')['rating'].count().reset_index()
number_rating.rename(columns={'rating':'number_of_ratings'},inplace=True)

#merge book details with rating per book
final_rating=ratings_with_books.merge(number_rating, on='title')
final_rating.shape

(487671, 8)

In [19]:
final_rating=final_rating[final_rating['number_of_ratings']>=50]
final_rating.shape

(61853, 8)

In [20]:
final_rating.drop_duplicates(['user_id','title'], inplace=True)
final_rating.shape

(59850, 8)

In [21]:
book_pivot=final_rating.pivot_table(columns='user_id', index='title', values='rating')
book_pivot.fillna(0,inplace=True)
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

# train the model
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [23]:
# details of particular row 237 0 harry potter
# (1,-1) = passes the right argument to the algo
distances,suggestions=model.kneighbors(book_pivot.iloc[231,:].values.reshape(1,-1), n_neighbors=6)
distances, suggestions
# prints closest 5 books

(array([[ 0.        , 30.34798181, 31.09662361, 31.22498999, 31.48015248,
         31.52776554]]),
 array([[231, 372, 184, 320, 536, 494]], dtype=int64))

In [24]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Guardian Angel', 'No Safe Place', 'Exclusive', 'Long After Midnight',
       'The Cradle Will Fall', 'Temptation'],
      dtype='object', name='title')

In [31]:
np.where(book_pivot.index=="Eclusive")

(array([], dtype=int64),)

In [29]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances,suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6)
    for i in range(len(suggestions)):
        if not i:
            print(book_pivot.index[suggestions[i]])

recommend_book("Jacob Have I Loved")

Index(['Jacob Have I Loved', 'Exclusive', 'No Safe Place',
       'The Cradle Will Fall', 'Long After Midnight', 'Table For Two'],
      dtype='object', name='title')

In [34]:
import nltk
from nltk.metrics.distance import edit_distance
from nltk.util import ngrams
book_corrected = books['title']
spellings_series = pd.Series(book_corrected)
outcomes = ""
distances = ((edit_distance("vini", word), word)
                            for word in book_corrected)
closest = min(distances)
outcomes = closest[1]
# st.write("did you mean:",outcomes)
recommend_book(outcomes)

IndexError: index 0 is out of bounds for axis 0 with size 0